<div fxLayout="row" fxLayoutAlign="center center" fxGap="2%">

  <mat-card fxFlex="96%" fxLayout="column" fxLayoutAlign="center center"  [style.background-color]="primary">
    <h6>CAMPEONATO DE FILMES</h6>
    <h2>Fase de Seleção</h2>
    <mat-divider [inset]="true"></mat-divider>
    <p>Selecione 8 filmes que você deseja que entrem na competição e depois precione o botão Gerar Meu Campeonato para prosseguir.</p>
  </mat-card>

</div>


<div fxLayout="row wrap" fxLayoutAlign="center space-evenly" fxLayoutWrap fxLayoutGap="2%">
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>
  <mat-card fxFlex="20%" fxLayout="column" fxLayoutAlign="center begin"  [style.background-color]="primary">
    <p>Título Filme</p>
  </mat-card>


</div>